:root {
    --color-light-gray: #F1F2F4;
    --color-gray: #B3B3B3;
    --color-dark-gray: #171617;
    --color-black: #211E1E;
    --color-light-blue: #02BDFB;
    --color-medium-blue: #017FB5;
    --color-magenta: #9E0D59;
    --color-red: #CB4C4E;
    --color-green: #5ca351;
}

body {
    font-family: "Inter-Medium", sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: linear-gradient(to top, var(--color-dark-gray), var(--color-black));
    background-color: var(--color-dark-gray);
}

h1 {
    color: var(--color-light-gray);
    font-size: xx-large;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    border-bottom: #f1f2f43b 1px solid;
}

a {
    text-decoration: none; /* Remove underline */
    color: var(--color-light-gray) /* Inherit the text color of the parent */
}

a:hover {
    color: var(--color-medium-blue); /* Optional: Add a hover effect */
}