@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --color-light-gray: #F1F2F4;
    --color-gray: #B3B3B3;
    --color-dark-gray: #171617;
    --color-black: #211E1E;

    --color-light-blue: #02BDFB;
    --color-medium-blue: #017FB5;
    --color-magenta: #9E0D59;

    --color-red: #CB4C4E;
    --color-green: #5ca351;
}

body {
    font-family: "Inter-Medium", sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: linear-gradient(to top, var(--color-dark-gray), var(--color-black));
    background-color: var(--color-dark-gray);
}

h1 {
    color: var(--color-light-gray);
    font-size: xx-large;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    border-bottom: #f1f2f43b 1px solid;
}

.all-movies-container {
    margin: 0 20vw 0 20vw;
}

.all-showings-container {
    margin: 0 20vw 0 20vw;
}
.date-container{
    margin: 0 20vw 0 20vw;
}

/* Grid container to hold all movies */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9vw, 1fr));
    gap: 15px;
    padding: 15px;

}

/* Movie card styling */
.grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 8.5vw;
    height: 16vw;
}

/* Title section */
.grid-bottom {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-bottom h2 {
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0;
}

.grid-bottom h3 {
    margin-top: 0.3vw;
    font-size: medium;
}


/* Image and labels */
.grid-content {
    display: flex; /* Align image and buttons horizontally */
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    background-color: #ffc372;
}

/* Movie image and format/duration labels */
.grid-image {
    position: relative;
    width: 100%;
    min-height: 12vw;
    max-height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.image-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Format label (2D/3D) on top left */
.format-label-left {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-light-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.format-label-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-light-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: inherit;
}

/* Duration label on top right */
.format-label-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-light-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

/* Button styling */
.button-red, .button-blue {
    width: 150px;/*TODO*/
    height: fit-content;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    color: var(--color-light-gray);
    text-align: center;
}

.format-label-button {
    position: absolute;
    bottom: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(0 0 0 / 30%);
    width: 20%;
    height: 10%;
    font-size: 1vw;
}

.button-delete {
    background-color: var(--color-red);
    right: 10%;
    font-size: 0.8vw;
}

.button-delete:hover {
    background-color: #bd6a6b;
}

.button-edit {
    background-color: var(--color-light-blue);
    left: 45%;
    font-size: 0.8vw;
}

.button-edit:hover {
    background-color: #37c7f7;
}

.add-new-container {
    /*background-color: var(--color-green);*/
    border: 2px dashed var(--color-gray); /* Dashed border to indicate it's for adding */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 5s;
    box-sizing: border-box;
}

.add-new-container:hover {
    background-color: #5ca351b0;
}



.add-new-container h2 {
    color: var(--color-light-gray);
    margin: 0;
    text-align: center;
    font-size: large;
}

a {
    text-decoration: none; /* Remove underline */
    color: var(--color-light-gray) /* Inherit the text color of the parent */
}

a:hover {
    color: var(--color-medium-blue); /* Optional: Add a hover effect */
}

img {
    transition: border .1s linear;
}

img:hover {
    border-color: var(--color-medium-blue);
    border-style: solid;
    box-sizing: border-box;
    transition-timing-function: ease-out;
}

/* Default button styling */
.hover-button {
    background-color: #017FB5;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect */
.hover-button:hover {
    background-color: #005F8A; /* Darken color */
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
}


