/* navbar.css */
nav {
    background-color: var(--color-dark-gray); /* Dark background */
    overflow: hidden; /* Clear floats */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vw;
    font-weight: bold;
}

nav ul {
    list-style-type: none; /* Remove bullets */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: flex; /* Horizontal layout */
}

nav ul li {
    flex: 1; /* Equal space for each item */
}

nav ul li a {
    display: block; /* Make the entire area clickable */
    color: white; /* White text */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
}

nav ul li a:hover {
    color: var(--color-medium-blue); /* Dark text on hover */
}

img {
    width: 100%;
}

.left-column {
    min-width: 30%;
    margin-left: 3vw;
}

.middle-column {
    max-width: 8%;
}

.right-column {
    min-width: 30%;
    margin-right: 3vw;
}

.left-column {

}

.right-column li {
    display: flex;
    justify-content: flex-end;
}